
:root {
	--font-sans: 'Public Sans', sans-serif;

	--font-size-small: 1rem;
	--font-size-default: 1.25rem;
	--font-size-medium: 1.5rem;
	--font-size-large: clamp(1.5rem, 3vw, 2.25rem);
	--font-size-larger: clamp(1.65rem, 4vw, 2.75rem);
	--font-size-huge: clamp(2rem, 5vw, 3.75rem);

	--letter-spacing: 0.075em;

	--color-primary: hsl(246, 55%, 30%);
	--color-primary-light: hsl(246, 55%, 95%);
	--color-secondary: hsl(177, 31%, 30%);
	--color-secondary-light: hsl(177, 31%, 95%);
	--color-accent: hsl(36, 71%, 51%);
	--color-alert: hsl(3, 75%, 43%);

	--color-gray: hsl(30, 7%, 34%);
	--color-gray-light: hsl(30, 7%, 95%);
	--color-gray-dark: hsl(30, 7%, 11%);
	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 0%, 0%);

	--color-hover: var(--color-secondary);

	--spacing: 1.5rem;

	--spacing-050: calc(var(--spacing) / 2);
	--spacing-1: var(--spacing);
	--spacing-150: calc(var(--spacing) * 1.5);
	--spacing-2: calc(var(--spacing) * 2);
	--spacing-3: calc(var(--spacing) * 3);
	--spacing-4: calc(var(--spacing) * 4);
	--spacing-6: calc(var(--spacing) * 6);

	--gutter: clamp(var(--spacing-050), 4vw, var(--spacing-3));

	--max-width: 1400px;
	--align-wide: 960px;
	--max-content-width: calc(620px + (var(--gutter) * 2));

	--border-radius: 2px;

	--speed: 0.3s;
	--radius: 3px;
}
